Tags
==========

{% for k,v in tags.contents | dictsort %}
* {{ k }}

    {# for repo in (topics | selectattr(t.topics)) #}
    {% for repo in v %}
  + {{ repo.alias }} {{ repo.url }}
    {% endfor %}

{% endfor %}