Indexes
==========
project catalog
{% for t in project_category %}
* {{ t.name }}

    {# for repo in (topics | selectattr(t.topics)) #}
    {% for repo in t.topics %}
      {% if repo.score >= 3 %}
  + {{ repo.alias }} {{ repo.url }}
      {% endif %}
    {% endfor %}

{% endfor %}