# project tags
{% for k,v in tags.contents | dictsort %}
  [{{k}}](#{{k}})
{% endfor %}

# repos
{% for k,v in tags.contents | dictsort %}
## {{ k }}
    {% for repo in v %}
  + {{ repo.alias }} <{{ repo.url }}> 

  [
      {% for t in repo.tags %}
  [{{t}}](#{{t}})
      {% endfor %}
  ]
    {% endfor %}

{% endfor %}
