# category
## not in category
      {% for t in check.tags_not_in_category %}
  [{{t}}](repos.md#{{t}})
      {% endfor %}

{% for c,ts in tag_categories | dictsort %}
## {{c}}

      {% for t in ts %}
  [{{t}}](repos.md#{{t}})
      {% endfor %}
{% endfor %}

{#
# project tags
{% for k,v in tags.contents | dictsort %}
  [{{k}}](#{{k}})
{% endfor %}
#}